:root {
  --max-columns: 4;

  --font-size-body: 18px;
  --line-height-body: 23px;

  --primary-color: red;
  --secondary-color: blue;
  --tertiary-color: green;
  --main-text-color: #333;
  --light-bg-neutral: #E0E0E0;
}

* { margin: 0; padding: 0; font-size: var(--font-size-body); line-height: var(--line-height-body); color: var(--main-text-color); box-sizing: border-box; }
p { margin: 15px 0; }
.container { width: 100%; max-width: 1350px; margin: 0 auto; padding: 15px; }

.form-btn { font-size: 16px; padding: 5px 10px; color: var(--main-text-color); background-color: var(--light-bg-neutral); border-radius: 5px; cursor: pointer; transition: 300ms; }
.form-btn:hover { background-color: lightgrey; transition: 300ms; }

/* Search method options */
.search-method-container { display: flex; }
.search-method-single-container { max-width: 175px; margin-right: 15px; text-align: center; border-radius: 10px; cursor: pointer; }
.search-method-single-container p { margin: 0; padding: 10px 15px; color: white; }
.search-method-1 { background-color: var(--secondary-color); }
.search-method-2 { background-color: var(--tertiary-color); }

.search-form-show { display: block !important; }

/* Search form */
.search-form { display: none; margin: 20px 0; }
.search-form__search-container { display: inline-block; margin-right: 10px; margin-bottom: 10px; }
.search-form__search-container input { margin-bottom: 10px; }
.search-form__submit-container { display: inline-block; }

/* Search checkboxes */
.search-filter { display: none; margin: 20px 0; padding: 20px; border: 1px solid lightgrey; }
.search-filter__radio-group-container { color: var(--main-text-color); }
.search-filter__radio-group-title { margin: 15px 0 5px 0; }
.search-filter__radio-group-container:first-of-type .search-filter__radio-group-title { margin-top: 0; }
.search-filter__submit-container { margin: 10px 0 0 0; }

.search-results-container { display: grid; grid-template-columns: repeat(var(--max-columns), 1fr); width: 100%; }

.card { position: relative; margin: 15px 15px 15px 0; padding: 20px; border: 1px solid lightgrey; }
.card:nth-child(4n) { margin-right: 0; }

.card__img-container { position: relative; width: 100%; }
.card__img { height: 250px; width: 100%; max-width: 310px; object-fit: cover;}
.card__img-tag { position: absolute; top: 10px; right: 10px; display: inline-block; padding: 5px 8px; color: var(--main-text-color); background-color: var(--light-bg-neutral); border-radius: 20px; text-transform: capitalize; }

.card__trailing-content-headline { margin-bottom: 4px; text-decoration: underline; }
.card__trailing-content-text { margin: 2px 0; }

.random-cat-fact-container { margin: 20px 0 30px 0; }

/* Mobile */
@media(max-width: 650px) {
  .card { margin: 10px 0; }
}